
  <h2 class="text-center m-5">Employees List</h2>

  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Level</th>
              <th>Action</th>
          </tr>
      </thead>

      <tbody>
        <!-- this is where the async pipe is-->
          <tr *ngFor="let user of game$ | async">
              <td>{{user.NAME}}</td>
              <td>{{user.POSITION}}</td>
              <td>{{user.LEVEL}}</td>
              <td>
                  <!--  few actions in this template: editing, deleting, and adding new employees 
                [routerLink] attribute used to navigate to '/employees/edit/:id' route 
                 (click) even used to call the deleteEmployee() method is in the EmployeeService class-->

                  <button class="btn btn-primary me-1" [routerLink]="['edit/', user.UID]">Edit</button>
                  <button class="btn btn-danger" (click)="deleteEmployee(user.UID || '')">Delete</button>
                  
              </td>

          </tr>
      </tbody>
  </table>

  <button class="btn btn-primary mt-3" [routerLink]="['new']">Add a New Employee</button>
