
  <h2 class="text-center m-5">Employees List</h2>

  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Level</th>
              <th>Action</th>
              <th>Upload</th>
          </tr>
      </thead>

      <tbody>
        <!-- this is where the async pipe is-->
          <tr *ngFor = "let user of game$ | async">
            <td>{{user.UID}}</td>
            <td>{{user.X}}</td>
            <td>{{user.Y}}</td>
            

          </tr>
          <tr *ngFor="let employee of employees$ | async">
              <td>{{employee.name}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.level}}</td>
              <td>
                  <!--  few actions in this template: editing, deleting, and adding new employees 
                [routerLink] attribute used to navigate to '/employees/edit/:id' route 
                 (click) even used to call the deleteEmployee() method is in the EmployeeService class-->

                  <button class="btn btn-primary me-1" [routerLink]="['edit/', employee._id]">Edit</button>
                  <button class="btn btn-danger" (click)="deleteEmployee(employee._id || '')">Delete</button>
                  
              </td>
              <td>
                <!-- Replace with the click command to open up the window that lets the user upload shit-->
                <!-- This leads to employees/edit/{whatever the fuck the id is}-->  
                <div>
                  <label for = "ass" class = "btn btn-primary me-1"  >Choose pic</label>
                  <input id = "ass" (change) = "onFileSelect($event)" style="display:none;" type = "file">


                </div>
              </td>
          </tr>
      </tbody>
  </table>

  <button class="btn btn-primary mt-3" [routerLink]="['new']">Add a New Employee</button>
